.navbar {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-butttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-log-out {
  display: flex;
  justify-self: center;
  align-items: center;
}
.button-notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.button-text {
  margin-right: 10px;
  font-weight: 500;
}
.section {
  padding: 100px;
  height: 100vh;
  background-color: #fafafa;
  width: 100%;
}
.card-container {
  border-radius: 20px;
  height: 350px;
  width: 400px;
}
.card-tag {
  position: relative;
  top: 30px;
  left: 10px;
  background-color: greenyellow;
  border-radius: 4px;
  max-width: 110px;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
}
.card-image {
  height: 170px;
}
