.navbar {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-butttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-log-out {
  display: flex;
  justify-self: center;
  align-items: center;
}
