html {
  overflow-x: hidden;
}
.navbar {
  padding: 20px;
  padding-left: 120px;
  padding-right: 120px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-butttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-log-out {
  display: flex;
  justify-self: center;
  align-items: center;
}
.button-notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.button-text {
  margin-right: 10px;
  font-weight: 500;
}
.section {
  padding: 120px;
  padding-top: 50px;
  height: 100%;
  background-color: #fafafa;
}
.categories {
  display: flex;
  justify-content: space-between;
  width: 410px;
  margin-bottom: 40px;
}
.categories__item {
  transition: 0.25s ease;
  background-color: #e854221e;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  /* border: 1px solid #e8542225; */
  border-radius: 30px;
}
.categories__item:hover {
  background-color: #e854224d;
  cursor: pointer;
}
.category-name {
  color: #e85322;
}
@media (max-width: 670px) {
  .mabitalks-logo {
    display: none;
  }

  .section {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
  }
  .mabitalks-logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .navbar-butttons {
    position: absolute;
    top: 25px;
    right: 10px;
  }
}
.card-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.082);
  overflow: hidden;
  z-index: 1;
  border-radius: 18px;
  margin-bottom: 40px;
  height: 250px;

  background-color: rgb(255, 255, 255);
}
.card-tag {
  position: relative;
  z-index: 1;
  top: 15px;
  left: 15px;
  background-color: #40ca63;
  border-radius: 4px;
  max-width: 110px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
}
.card-body {
  padding: 0;
  padding-right: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.like-button {
  font-size: 20px;
}
.not-liked {
  transition: 0.25s ease;
}
.not-liked:active {
  transform: scale(1.3);
  animation: fill-in 0.25s ease-in-out;
}
@keyframes fill-in {
  0% {
    fill: rgba(0, 0, 0, 0);
  }
  100% {
    fill: rgb(0, 0, 0);
  }
}
.unlike {
  display: none;
}
.liked:hover > .unlike {
  cursor: pointer;
  position: relative;
  top: 8px;
  display: block;
}
.liked:hover > .like {
  display: none;
}

.not-liked:hover {
  cursor: pointer;
  fill: #000000;
}
.card-title {
  line-height: 12px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-text {
  margin-top: -20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  text-overflow: ellipsis;
}
.card-text-muted {
  margin-top: -5px;
  color: #1a1a1acb;
  font-size: 14px;
}
.mabi-title {
  font-weight: 500;
  margin-bottom: 20px;
}
